{% extends 'base.html'%}

{% block title %} Event Details {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <h1 class="text-center my-3 text-success">{{ event_name }}</h1>
        <h3 class="text-center text-primary">Description</h3>
        <p class="text-center text-success">{{ description }}</p>
        <h3 class="text-center text-primary">Status</h3>
        <p class="text-center text-success">{{ status }}</p>
        
        {% if eventitem.id %}
        <button class="btn btn-primary mx-1 text-decoration-none">
          <a href="{% url 'event:update_event' eventitem.id %}" class="text-light text-decoration-none">Edit Event</a>
        </button>

        <button class="btn btn-danger mx-1 text-decoration-none">
          <a href="{% url 'event:delete_event' eventitem.id %}" class="text-light text-decoration-none">Delete Event</a>
        </button>
        {% endif %}
        
        <button class="btn btn-primary mx-auto d-block text-decoration-none">
          <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back Home</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
