{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="text-center text-success">Update User Information</h3>
          </div>
          <div class="card-body">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3">Update User</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

